{{- /* Open Graph */ -}}
{{- $title := .Title -}}
{{- if .IsHome -}}
  {{- $title = site.Title -}}
{{- else -}}
  {{- $title = printf "%s | %s" .Title site.Title -}}
{{- end -}}

{{- $description := "" -}}
{{- with .Description -}}
  {{- $description = . | plainify | truncate 200 -}}
{{- else -}}
  {{- with .Params.summary -}}
    {{- $description = . | plainify | truncate 200 -}}
  {{- else -}}
    {{- if .Content -}}
      {{- $description = .Content | plainify | truncate 200 -}}
    {{- else -}}
      {{- $description = site.Params.description | plainify | truncate 200 -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $image := "" -}}
{{- if .Params.images -}}
  {{- $image = index .Params.images 0 | absURL -}}
{{- else -}}
  {{- with site.Params.images -}}
    {{- $image = index . 0 | absURL -}}
  {{- end -}}
{{- end -}}

<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:title" content="{{ $title }}" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ site.Title }}" />
<meta property="og:locale" content="{{ .Language.LanguageCode | replace "-" "_" }}" />
{{- if $image -}}
<meta property="og:image" content="{{ $image }}" />
{{- end -}}
{{- if .IsPage -}}
  {{- with .PublishDate -}}
<meta property="article:published_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}" />
  {{- end -}}
  {{- with .Lastmod -}}
<meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}" />
  {{- end -}}
  {{- range .Params.tags -}}
<meta property="article:tag" content="{{ . }}" />
  {{- end -}}
{{- end -}}

{{- /* Twitter Cards */ -}}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ $title }}" />
<meta name="twitter:description" content="{{ $description }}" />
{{- if $image -}}
<meta name="twitter:image" content="{{ $image }}" />
{{- end -}}

{{- /* Schema.org */ -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{{ if .IsPage }}BlogPosting{{ else }}WebSite{{ end }}",
  "headline": "{{ $title }}",
  "description": "{{ $description }}",
  {{- if .IsPage -}}
  "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  {{- end -}}
  "author": {
    "@type": "Person",
    "name": "{{ site.Params.defaultAuthor }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.Title }}"
  }
}
</script>

{{- /* Hreflang tags */ -}}
{{ partial "hreflang.html" . }}

{{- /* RSS Feed */ -}}
{{ with .OutputFormats.Get "rss" }}
  <link
    rel="alternate"
    type="application/rss+xml"
    title="{{ site.Title }}"
    href="{{ .Permalink }}" />
{{ end }}
