{{- /* JSON-LD структурированные данные: Person на главной, BlogPosting + хлебные крошки на статьях */ -}}
{{- $author := site.Params.author -}}
{{- $sameAs := slice -}}
{{- range site.Params.socials -}}{{- $sameAs = $sameAs | append .url -}}{{- end -}}

{{- if .IsHome -}}
  {{- $person := dict
      "@context" "https://schema.org"
      "@type" "Person"
      "name" ($author.name | default site.Title)
      "url" site.BaseURL
      "jobTitle" ($author.role | default "")
      "description" (site.Params.description | default "")
      "sameAs" $sameAs
  -}}
  {{- with $author.photo -}}{{- $person = merge $person (dict "image" (. | absURL)) -}}{{- end -}}
  <script type="application/ld+json">{{ $person | jsonify | safeJS }}</script>
  {{- $site := dict
      "@context" "https://schema.org"
      "@type" "WebSite"
      "name" site.Title
      "url" site.BaseURL
      "inLanguage" "ru-RU"
  -}}
  <script type="application/ld+json">{{ $site | jsonify | safeJS }}</script>
{{- else if and .IsPage (eq .Type (site.Params.blogSection | default "posts")) -}}
  {{- $cover := .Params.cover -}}
  {{- if reflect.IsMap $cover -}}{{- $cover = $cover.image -}}{{- end -}}
  {{- $article := dict
      "@context" "https://schema.org"
      "@type" "BlogPosting"
      "headline" .Title
      "description" (.Description | default .Summary | plainify | truncate 180)
      "url" .Permalink
      "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
      "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
      "inLanguage" "ru-RU"
      "wordCount" .WordCount
      "author" (dict "@type" "Person" "name" ($author.name | default site.Title) "url" site.BaseURL)
      "publisher" (dict "@type" "Person" "name" ($author.name | default site.Title) "url" site.BaseURL)
      "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
  -}}
  {{- with $cover -}}{{- $article = merge $article (dict "image" (partial "cover-url.html" (dict "src" . "width" 1200 "fmt" "jpeg"))) -}}{{- end -}}
  {{- with .Params.tags -}}{{- $article = merge $article (dict "keywords" (delimit . ", ")) -}}{{- end -}}
  <script type="application/ld+json">{{ $article | jsonify | safeJS }}</script>
  {{- $crumbs := slice
      (dict "@type" "ListItem" "position" 1 "name" "Главная" "item" site.BaseURL)
      (dict "@type" "ListItem" "position" 2 "name" "Статьи" "item" (printf "%s%s/" site.BaseURL (site.Params.blogSection | default "posts")))
      (dict "@type" "ListItem" "position" 3 "name" .Title "item" .Permalink)
  -}}
  {{- $breadcrumb := dict
      "@context" "https://schema.org"
      "@type" "BreadcrumbList"
      "itemListElement" $crumbs
  -}}
  <script type="application/ld+json">{{ $breadcrumb | jsonify | safeJS }}</script>
{{- else if and .IsPage (eq .Type "fotografiya") -}}
  {{- $images := slice -}}
  {{- range .Params.photos -}}
    {{- with .src -}}{{- $images = $images | append (. | absURL) -}}{{- end -}}
  {{- end -}}
  {{- $gallery := dict
      "@context" "https://schema.org"
      "@type" "ImageGallery"
      "name" .Title
      "description" (.Description | default .Summary | plainify | truncate 180)
      "url" .Permalink
      "inLanguage" "ru-RU"
      "author" (dict "@type" "Person" "name" ($author.name | default site.Title) "url" site.BaseURL)
  -}}
  {{- with .Params.cover -}}{{- $gallery = merge $gallery (dict "image" (partial "cover-url.html" (dict "src" . "width" 1200 "fmt" "jpeg"))) -}}{{- end -}}
  {{- with $images -}}{{- $gallery = merge $gallery (dict "associatedMedia" .) -}}{{- end -}}
  <script type="application/ld+json">{{ $gallery | jsonify | safeJS }}</script>
  {{- $crumbs := slice
      (dict "@type" "ListItem" "position" 1 "name" "Главная" "item" site.BaseURL)
      (dict "@type" "ListItem" "position" 2 "name" "Фото" "item" (printf "%sфото/" site.BaseURL))
      (dict "@type" "ListItem" "position" 3 "name" .Title "item" .Permalink)
  -}}
  {{- $breadcrumb := dict
      "@context" "https://schema.org"
      "@type" "BreadcrumbList"
      "itemListElement" $crumbs
  -}}
  <script type="application/ld+json">{{ $breadcrumb | jsonify | safeJS }}</script>
{{- else if and .IsSection (eq .Type "fotografiya") -}}
  {{- $col := dict
      "@context" "https://schema.org"
      "@type" "CollectionPage"
      "name" .Title
      "description" (.Description | plainify | truncate 180)
      "url" .Permalink
      "inLanguage" "ru-RU"
  -}}
  <script type="application/ld+json">{{ $col | jsonify | safeJS }}</script>
{{- end -}}
